<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ZAKATFFA.Properties.Settings.zakatdbConnectionString" connectionString="Data Source=LAPTOP-P0RT1FO1;Initial Catalog=zakatdb;User Id=sa;Password=Kadirojo7;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.5789" newVersion="13.0.40.5789"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>